body {
  background-color:	#ffffff
}

h1,h2,h3 {
  text-align: 		center;
}

td {
  padding:          0.5em;
}

div#content {
  width: 			45em;
  margin:			auto;
}

div.divider {
  background-color: #bbbbbb;
  width:            75%;
  margin:           auto;
  padding:          0.1em;
}

div#basics {
  background-color: #bbbbbb;
  padding:          0.5em;
  box-shadow: 0px 10px 15px -10px #000;
}

div.itemtitle {
  background-color: #bbbbbb;
  padding:          0.5em;
}

div.itembody {
  background-color: #dddddd;
  font-size:        smaller;
  padding:          0.5em;
}

div.itembody table {
  width:            100%;
}

td.section-heading {
  font-weight: bold;
  width: 100%;
  box-shadow: 1px 1px 2px 1px #333;
  background: #ddd;
  text-align: center;
}

td.section-heading:hover{
  box-shadow: -1px -1px 2px 1px #333;
  cursor: pointer;
  background: #ccc;
}

body .bold {
  font-weight: bold;
}
